<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senai Games</title>
</head>
<body>
    <h1>Senai Games</h1>
    <h2>Inteligência Artificial</h2>
    <h3>Análise de Sentimentos</h3>
    <h4>Ambiente Acolhedor e Inclusivo</h4>
    <h5>Jogo, Educação e Business</h5>
    <h6>Tudo em um só lugar</h6>

    <p>Com mais um click, você entrará em  nosso ambiente gratuíto de jogos e criações de jogos</p>

    <form>
        <input type="text" required name="nome" placeholder="qual o seu nome?">
        <input type="text" name="apelido" placeholder="qual o seu nickname?">
        <select> 
            <option selected>Qual o seu genero favorito?</option>
            <option>Visual Novel</option>
            <option>RPG</option>
            <option>Plataforma</option>
        </select> 
        <input type="email" required name="email" placeholder="Qual o seu e-mail?">
        <input type="password" required name="senha" placeholder="Informe a senha">
        <button>Cadastrar</button>
    </form>
</body>
</html>